build/
dist/
runs/
.cache/
.eggs/
__pycache__/
output*/
datadownload/
*.egg-info/
.ipynb_checkpoints
.vscode
.idea
.venv
*.pyc
*/_build/
build
*nohup.out
**/processed
temp*

# cargo project
*Cargo.lock
*target

*dask-worker-space/

temp
*.html
Untitled*
